#headline {
	text-align: center;
	color: grey;
	border: 2px solid grey;
	background-color:  lightblue;
}

nav {
	background-color: rgb(70, 70, 70);
	padding-top: 1%;
	padding-bottom: 1%;
}

nav > a {
	padding-left: 3%;
	padding-right: 3%;
	color: white;
}

a:hover {
	background-color: rgb(220, 220, 220);
	border: 1px solid black;
}


a:link {
	color: blue;
}

a {
	text-decoration: none;
}


tr:hover {
	background-color: lightgrey;
}

#summary {
	display: inline-block;
	text-align: center;
}

#picture {
	padding-left: 20%;
	display: inline-block;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}