#headline {
	text-align: center;
	color: grey;
	border: 2px solid grey;
	background-color:  lightblue;
}

nav {
	background-color: rgb(70, 70, 70);
	padding-top: 1%;
	padding-bottom: 1%;
}

nav > a {
	padding-left: 3%;
	padding-right: 3%;
	color: white;
}

footer {
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	background-color: lightgrey;
}

a:hover {
	background-color: rgb(220, 220, 220);
	border: 1px solid black;
}

a {
	text-decoration: none;
}


tr:hover {
	background-color: lightgrey;
}

#contacts {
	display: inline-block;
	text-align: center;
	margin: 2%;
	float: left;
	width: 50%;
}

#picture {
	display: inline-block;
	margin: auto;
	float: left;
	width: 50%	
}

#aboutme {
width: 33%;
margin: auto;
float: left;
}

#professional {
display: inline-block;
width: 33%;
margin: auto;
}

#programming {
display: inline-block;
width: 33%;
margin: auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}