#headline {
	text-align: center;
	color: grey;
	border: 2px solid grey;
	background-color:  lightblue/*rgb(0,200,200)*/;
}

a:hover {
	background-color: rgb(220, 220, 220);
	border: 1px solid black;
}

a:visited {
	color: red;
}

a {
	color: blue;
	text-decoration: none;
}

tr:hover {
	background-color: lightgrey;
}

#summary {
	display: inline-block;
	text-align: center;
}

#picture {
	padding-left: 20%;
	display: inline-block;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}