header {
	text-align: center;
	color: black;
	border: 2px solid grey;
	background-color:  lightblue;
	padding: 3%;
}

#input_box {
	height: 35px;
}

form {
	padding-top: 2%;
}

#update_button {
	color: white;
	background-color: rgb(0, 150, 200);
	width: 280px;
	height: 50px;
	font-size: 16pt;
}

#aboutme_box {
	height: 200px;
}

h5 {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-block-start:0;
	margin-block-end:0;
}

body {
	font-size: 14pt;
}